.padding-bottom-240 {
    padding-bottom: 15%;
}

.custom-width {
    max-width: 90%;
    height: 15%; 
    width: calc(100vw - 28px);
    padding-left: 1%;
    padding-right: 1%;
}

@media (max-width: 500px) {
    .icono {
        width: 30%;
    }

    .custom-width {
        height: 6%;    
    }
}
  

