.padding-bottom-240 {
    padding-bottom: 15%;
}

.custom-width {
    height: 15%; 
    width: 100vw;
    padding-left: 1%;
    padding-right: 1%;
}

.icono {
    margin-right: 20%;
}

@media (max-width: 500px) {
    .icono {
        width: 30%;
    }

    .custom-width {
        height: 6%;    
    }
}
  

