.user-detail {
  width: 360px;
  height: 740px;
  top: 75px;
}

@media (max-width: 500px) {
  .icon {
    width: 96px;
    height: 96px;
  }
  
  .user-detail {
    height: 600px;
  }
}

@media (resolution: 1.5dppx) {
  .user-detail {
    width: 320px;
    height: 476px;
    top: 75px;
  }

  .letra {
    font-size: small;
  }

  .icon {
    width: 200px !important;
    height: 200px !important;
  }
}