.quick-detail {
  width: 360px;
  height: 740px;
  top: 75px;
}

@media (max-width: 500px) {
  .icon {
    width: 96px;
    height: 96px;
  }   

  .quick-detail {
    height: 600px;
  }
}

@media (resolution: 1.5dppx) {
  .quick-detail {
    width: 340px;
    height: 476px;
    top: 75px;
  }

  .letra {
    font-size: small;
  }

  .icon {
    width: 240px;
    height: 240px;
  }
}